@import 'flex';
@import 'fonts';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
}

.c-container {
    
    max-width: 525px;
    width: 100%;

    margin: 0 auto;

    padding: 10px;
    padding-top: 75px;
}

.l-survey {

    width: 100%;

    .flex();
    .flex_col();

    padding: 15px;
    margin: 15px 0;

    background: #FFF;
    
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);

    span {
        display: block;
        text-align: center;
        margin-bottom: 15px;
        font-size: 24px;
    }

    .l-survey-option {

        .flex();
        .align_center();
        .flex_wrap();

        label {
            margin-left: 5px;
        }

        .l-option_input,
        .l-option_votes {
            width: 100%;
        }

        .l-votes {            
            color: #2A2A2A;
        }

        .l-survey_percentage {
            height: 5px;
            background: #3C3;
        }
    }

    .l-survey-option:not(:last-child) {
        margin-bottom: 20px;
    }

    .l-resp {
        margin-top: 10px;
        text-align: center;
    }
}

.btn {
    margin-top: 20px;
    max-width: 125px;
    border: none;
    padding: 10px 15px;
}

.btn-submit {
    color: white;
    background: #3C3;
}

.l-survey_new {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 75px;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
}